<%- include('header-global')%>
<% if (locals.error) {%>
    <div class="ui message negative">
        <%= error %>
    </div>
<% } %>
<div class="ui segment">
    <h2 class="titre"><%=date%></h2>
    <div class="page-billet-container">
        <div>
            <div class="info-generale"> Train n°: <span class="n-train"><%=Train%></span> Durée: <span class="duree"><%=duree%></span></div>
            <div class="gare"><p><b><%=HeureDepart%></b> <i class="long arrow alternate right icon"></i> <%=villeDepart%> <%=GareDepart%></p></div>
            <div class="gare"><p><b><%=HeureArrivee%></b> <i class="long arrow alternate right icon"></i> <%=villeArrive%> <%=GareArrive%></p></div>
            <div class="prix"><p><b>Prix: </b> <span class="prix-definitif"><%=Math.floor(Prix*(100-currentclient.Taux)/100)%>€</span> (<del class="prix-base"><%=Prix%>€</del> <span class="reduction"><%=currentclient.Taux%>%)</span></p></div>
        </div>
        <form id="select-place-form" action="/index/reservation" class="ui form place-select" method="POST">
            <input type="hidden" name="idBillet" value='<%=idBillet%>'>
            <label for="numeroVoiture">Numéro de la voiture</label>
            <select name="numeroVoiture" id="numeroVoiture" class="ui fluid dropdown">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="numeroPlace">Numéro de la place</label>
            <select name="numeroPlace" id="numeroPlace" class="ui fluid dropdown">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </form>
    </div>
    <div class="button-container"><button form="select-place-form" class="ui button red">Accepter</button><a class="ui button basic" href="/index">Refuser</a></div>
</div>
<%- include('footer')%>